
	<header>
		<div class="header">
			<%= image_tag("logo.png", :alt => "logo") %>
			<h1>Movie Rating System</h1>
		</div>
	</header>
	<div id="nav">
		<ul>
			<li><a class="active" href="index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="login.html">Login</a></li>
		</ul>
	</div>
	<main>
		<div class="content">
			<img src="#" alt="">
		</div>
	</main>