body {
    font-family: 'Roboto';
    font-size: 18px;
    background-color: #3b3b3b;
    color: #ffffff;
}


.body p {
    display: inline;
    padding: 14px 10px;
}

p {
    padding: 5px;
}

h2 {
    padding: 5px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6e6767;
}

#nav li {
    float: left;
    border-right: 1px solid #bbbbbb;
}

#nav li:last-child {
    border-right: none;
}

#nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover:not(.active) {
    background-color: #111111;
}

.active {
    background-color: #006eff;
}

.header img {
    float: left;
    width: 50px;
    height: 50px;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}

.content {
    max-width: 1080px;
    margin: auto;
    background: #241f1f;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #292929;
    color: #ffffff;
    text-align: center;
}