<div class="media mb-2">
  <%= image_tag("user.png", :class => "mr-3")%>
  <div class="media-body">
    <h5 class="mt-0"><%= review.commenter %><% review.rating.to_i.times do  %>
      <i class="fas fa-star"></i>
  <% end %>  </h5>
    <%= review.body %>
    
    
  </div>
  <%= link_to 'Delete', [review.movie, review], :class => "btn btn-outline-danger",
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</div>

  


